<include file ="Public/header"/>
<include file ="Public/navibar"/>
<include file ="Public/sidebar"/>

<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->

<include file="Public/message"/>

<div class="cpgl_cplb">
    <table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cplb_bt">
        <tr>
            <td width="221" height="60" align="center">经销商名称</td>
            <td width="132" align="center">登录账号</td>
            <td width="128" align="center">手机号</td>
            <td width="139" align="center">创建时间</td>
            <td width="115" align="center">用户组</td>
            <td width="120" align="center">操作</td>
        </tr>
    </table>

    <foreach name="dealers" item="dealer">
    <table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cplb_nr">
        <tr>
            <td width="221" height="48" align="center">{$dealer.real_name}</td>
            <td width="132" align="center">{$dealer.user_name} </td>
            <td width="128" align="center">{$dealer.mobile}</td>
            <td width="139" align="center"><php>echo date("Y-m-d H:i:s",$dealer['createtime']);</php></td>
            <td width="115" align="center"><php>echo getGroupName($dealer['user_group']);</php></td>
            <td width="120" align="center"><a href="{:U('Dealer/edit',array('user_id'=>$dealer['user_id']))}"><img src="__PUBLIC__/Admin/images/cp_11.jpg" width="27" height="27" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a goto="{:U('Dealer/del',array('user_id'=>$dealer['user_id']))}" class="icon-remove"><img src="__PUBLIC__/Admin//images/cp_13.jpg" width="27" height="27" /></a></td>
        </tr>
    </table>
    </foreach>
    <div class="intro_cxcp_nr_fy">{$page_html}</div>
</div>
</div>
</div>


<!--- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 --->
<include file ="Public/footer"/>