<include file ="Public/header"/>
<include file ="Public/navibar"/>
<include file ="Public/sidebar"/>

<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->

<include file="Public/message"/>

<div class="cpgl_cplb">
    <script src="__PUBLIC__/Admin/js/area.js"></script>
    <form action="" method="post">
        <table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cptj">
            <tr>
                <td height="80">手机号</td>
                <td><input name="mobile" type="text" class="cpgl_cptj_mc" value="{$_POST.mobile}" placeholder="请输入手机号"  required="true"></td>
            </tr>
            <tr>
                <td width="106" height="80">登录密码</td>
                <td width="749"><input name="password" type="text" class="cpgl_cptj_mc" value="{$_POST.password}" placeholder="请输入密码" required="true"></td>
            </tr>
            <tr>
                <td height="80">姓名</td>
                <td><input name="real_name" type="text" class="cpgl_cptj_mc" value="{$_POST.real_name}" placeholder="请填写您的姓名"  required="true"></td>
            </tr>
            <tr>
                <td height="80">邮箱</td>
                <td><input name="email" type="text" class="cpgl_cptj_mc" value="{$_POST.email}" placeholder="请填写您的邮箱"  required="true"></td>
            </tr>
            <tr>
                <td width="106" height="80">所在地区</td>
                <script>
                    var choose_province="{:U('Area/getProvinces')}",choose_city="{:U('Area/getCities')}",choose_area="{:U('Area/getAreas')}";
                </script>
                <td id="choose_cityarea" province_id="{$_POST.province_id}" city_id="{$_POST.city_id}" area_id="{$_POST.area_id}"></td>
            </tr>

            <tr>
                <td width="106" height="80">供职企业</td>
                <td><input name="company" type="text" class="cpgl_cptj_mc" value="{$_POST.company}"  placeholder="请填写您供职的企业"  required="true"></td>
            </tr>

            <tr>
                <td height="80" colspan="2"><div class="dsjj_nr_menu">
                    <input name="" type="submit" value="提交" />
                </div></td>
            </tr>
        </table>
    </form>
</div>
</div>
</div>

<!--- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 --->
<include file ="Public/footer"/>