<include file="Public/header"/>
<div class="m-wrap">
    <div class="title03"></div>
    <ul class="p-menu">
        <li class="on">热门作品<img src="__PUBLIC__/Home/img/p-tip.png"></li>
        <li>全部作品<img src="__PUBLIC__/Home/img/p-tip.png"></li>
    </ul>
    <p style="line-height:60px;color:#541b86;margin:0">综合排序</p>
</div>
<div class="z-wrap">
    <div class="z-item" style="margin-bottom:30px;">
        <div class="swiper-container" id="hot">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="z-list-wrap">
                        <if condition="$works">
                            <if condition="count($works) egt 4">
                                <php>for($i=0;$i<4;$i++){</php>
                                    <php>if($i%2==0){</php>
                                        <li class="heavy">
                                            <div class="index">
                                                <div style="background-image:url(__PUBLIC__/Home/img/0.png)"></div>
                                                <div style="background-image:url(__PUBLIC__/Home/img/{$i+1}.png)"></div>
                                                <strong>+</strong>
                                            </div>
                                            <p class="z-name">{$works[$i]['title']}</p>
                                            <p class="z-worker">{$works[$i]['company']}</p>
                                            <p class="z-by">By:</p>
                                            <p class="z-per"><span>{$works[$i]['real_name']}</span><span class="sjs">设计师</span></p>
                                            <img src="<php>echo getImg($works[$i]['pics']);</php>" class="zimg">
                                        </li>
                                        <php>}else{</php>
                                        <div class="index">
                                            <div style="background-image:url(__PUBLIC__/Home/img/0.png)"></div>
                                            <div style="background-image:url(__PUBLIC__/Home/img/{$i+1}.png)"></div>
                                            <strong>+</strong>
                                        </div>
                                        <p class="z-name">{$works[$i]['title']}</p>
                                        <p class="z-worker">{$works[$i]['company']}</p>
                                        <p class="z-by">By:</p>
                                        <p class="z-per"><span>{$works[$i]['real_name']}</span><span class="sjs">设计师</span></p>
                                        <img src="<php>echo getImg($works[$i]['pics']);</php>" class="zimg">
                                   <php>}</php>
                                <php>}</php>
                                <else />
                                <php>$end=count($works);</php>
                                <for start="0" end="$end">
                                    <php>if($i%2==0){</php>
                                        <li class="heavy">
                                            <div class="index">
                                                <div style="background-image:url(__PUBLIC__/Home/img/0.png)"></div>
                                                <div style="background-image:url(__PUBLIC__/Home/img/{$i+1}.png)"></div>
                                                <strong>+</strong>
                                            </div>
                                            <p class="z-name">{$works[$i]['title']}</p>
                                            <p class="z-worker">{$works[$i]['company']}</p>
                                            <p class="z-by">By:</p>
                                            <p class="z-per"><span>{$works[$i]['real_name']}</span><span class="sjs">设计师</span></p>
                                            <img src="<php>echo getImg($works[$i]['pics']);</php>" class="zimg">
                                        </li>
                                    <php>}else{</php>
                                        <li class="light">
                                            <div class="index">
                                                <div style="background-image:url(__PUBLIC__/Home/img/0.png)"></div>
                                                <div style="background-image:url(__PUBLIC__/Home/img/{$i+1}.png)"></div>
                                                <strong>+</strong>
                                            </div>
                                            <p class="z-name">{$works[$i]['title']}</p>
                                            <p class="z-worker">{$works[$i]['company']}</p>
                                            <p class="z-by">By:</p>
                                            <p class="z-per"><span>{$works[$i]['real_name']}</span><span class="sjs">设计师</span></p>
                                            <img src="<php>echo getImg($works[$i]['pics']);</php>" class="zimg">
                                        </li>
                                    <php>}</php>
                                </for>
                            </if>
                            </if>
                    </ul>
                </div>
                <if condition="count($works) gt 4">
                <div class="swiper-slide">
                    <ul class="z-list-wrap">
                    <php>for($i=4;$i<count($works);$i++){</php>
                    <php>if($i%2==0){</php>
                    <li class="heavy">
                        <div class="index">
                            <div style="background-image:url(__PUBLIC__/Home/img/0.png)"></div>
                            <div style="background-image:url(__PUBLIC__/Home/img/{$i+1}.png)"></div>
                            <strong>+</strong>
                        </div>
                        <p class="z-name">{$works[$i]['title']}</p>
                        <p class="z-worker">{$works[$i]['company']}</p>
                        <p class="z-by">By:</p>
                        <p class="z-per"><span>{$works[$i]['real_name']}</span><span class="sjs">设计师</span></p>
                        <img src="<php>echo getImg($works[$i]['pics']);</php>" class="zimg">
                    </li>
                    <php>}else{</php>
                    <div class="index">
                        <div style="background-image:url(__PUBLIC__/Home/img/0.png)"></div>
                        <div style="background-image:url(__PUBLIC__/Home/img/{$i+1}.png)"></div>
                        <strong>+</strong>
                    </div>
                    <p class="z-name">{$works[$i]['title']}</p>
                    <p class="z-worker">{$works[$i]['company']}</p>
                    <p class="z-by">By:</p>
                    <p class="z-per"><span>{$works[$i]['real_name']}</span><span class="sjs">设计师</span></p>
                    <img src="<php>echo getImg($works[$i]['pics']);</php>" class="zimg">
                    <php>}</php>
                    <php>}</php>
                    </ul>
                </div>
                    </if>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev hotnext" id="ranqinext"></div>
        <div class="swiper-button-next hotprev" id="ranqiprev"></div>
    </div>
    <div class="z-item">
        <div class="swiper-container" id="all" >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="p-list-wrap">
                        <if condition="$allworks">
                            <if condition="count($allworks) egt 8">
                                <for start="0" end="8">
                                <li>
                                    <img src="<php>echo getImg($allworks[$i]['pics']);</php>" class="z-all-img">
                                    <div class="z-topic">
                                        <p style="font-weight:bold;font-size:15px;">{$allworks[$i]['title']}</p>
                                        <p style="font-size:12px;margin-top:2px;">设计师：{$allworks[$i]['real_name']}</p>
                                    </div>
                                </li>
                                </for>
                                <else/>
                                <php>$end=count($works);</php>
                                <for start="0" end="$end">
                                    <li>
                                        <img src="<php>echo getImg($allworks[$i]['pics']);</php>" class="z-all-img">
                                        <div class="z-topic">
                                            <p style="font-weight:bold;font-size:15px;">{$allworks[$i]['title']}</p>
                                            <p style="font-size:12px;margin-top:2px;">设计师：{$allworks[$i]['real_name']}</p>
                                        </div>
                                    </li>
                                </for>
                            </if>
                            </if>
                    </ul>
                </div>
                <if condition="count($allworks) gt 8">
                <div class="swiper-slide">
                    <ul class="p-list-wrap">
                        <php>$end=count($works);</php>
                        <for start="8" end="$end">
                            <li>
                                <img src="<php>echo getImg($allworks[$i]['pics']);</php>" class="z-all-img">
                                <div class="z-topic">
                                    <p style="font-weight:bold;font-size:15px;">{$allworks[$i]['title']}</p>
                                    <p style="font-size:12px;margin-top:2px;">设计师：{$allworks[$i]['real_name']}</p>
                                </div>
                            </li>
                        </for>
                    </ul>
                </div>
                    </if>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev allnext" id="diannext"></div>
        <div class="swiper-button-next allprev" id="dianprev"></div>
    </div>
</div>
<div class="footer-wrap" style="position:relative">
    <div style="background:#000;margin-top:20px;">
        <ul class="footer-menu">
            <li>
                <a href="{:U('Index/instruction')}">
                    <img src="__PUBLIC__/Home/img/menu01.png" class="zh-cn">
                    <div class="cn">大赛简介</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
            <li>
                <a href="{:U('Product/index')}">
                    <img src="__PUBLIC__/Home/img/menu02.png" class="zh-cn">
                    <div class="cn">产品展示</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
            <li  class="active">
                <a href="{:U('Work/index')}">
                    <img src="__PUBLIC__/Home/img/menu03.png" class="zh-cn">
                    <div class="cn">作品展示</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
            <li>
                <a href="{:U('Message/index')}">
                    <img src="__PUBLIC__/Home/img/menu04.png" class="zh-cn">
                    <div class="cn">消息中心</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
            <li>
                <a href="{:U('Person/index')}">
                    <img src="__PUBLIC__/Home/img/menu05.png" class="zh-cn">
                    <div class="cn">个人中心</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/swiper.min.js"></script>
<script type="text/javascript">
    var hotSwiper = new Swiper ('#hot', {
        direction: 'horizontal',
        loop: true,
        autoplay : false,
        pagination: '.swiper-pagination',
        nextButton: '.hotprev',
        prevButton: '.hotnext'
    });
    var allSwiper=new Swiper ('#all', {
        direction: 'horizontal',
        loop: true,
        autoplay : false,
        pagination: '.swiper-pagination',
        nextButton: '.allprev',
        prevButton: '.allnext'
        // paginationClickable :true
    });
    $('.p-menu li').each(function(index){
        $(this).click(function(){
            $(this).addClass('on').siblings().removeClass('on');
            $('.z-item').eq(index).css('display','block').siblings().css('display','none');
        });
    });

    /**/


    $(".footer-menu li").each(function(){
        if($(this).hasClass('active')){

        }else{
            $(this).hover(
                    function(){
                        $(this).find('.purple').stop().animate({'bottom':0,'left':0,'opacity':1},200,'swing');
                        $(this).find('.gray').stop().animate({'bottom':0,'left':'18px','opacity':1},200,'swing');
                        $(this).find('.zh-cn').css('display','none');
                        $(this).find('.cn').fadeIn();
                    },
                    function(){
                        _thiss=$(this);
                        $(this).find('.purple').stop().animate({'bottom':'-640px','left':'-200px','opacity':1},200,'swing');
                        $(this).find('.gray').animate({'bottom':'-164px','left':"200px",'opacity':0},200,'swing');
                        $(this).find('.zh-cn').fadeIn();
                        $(this).find('.cn').css('display','none');
                    }
            )
        }

    });
</script>
<include file="Public/insert"/>
</body>
</html>