<div class="footer-wrap">
    <div style="background:#000;margin-top:20px;">
        <ul class="footer-menu">
            <li>
                <a href="{:U('Index/instruction')}">
                    <img src="__PUBLIC__/Home/img/menu01.png" class="zh-cn">
                    <div class="cn">大赛简介</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
            <li>
                <a href="{:U('Product/index')}">
                    <img src="__PUBLIC__/Home/img/menu02.png" class="zh-cn">
                    <div class="cn">产品展示</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
            <li>
                <a href="{:U('Work/index')}">
                    <img src="__PUBLIC__/Home/img/menu03.png" class="zh-cn">
                    <div class="cn">作品展示</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
            <li>
                <a href="{:U('Message/index')}">
                    <img src="__PUBLIC__/Home/img/menu04.png" class="zh-cn">
                    <div class="cn">消息中心</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
            <li>
                <a href="{:U('Person/index')}">
                    <img src="__PUBLIC__/Home/img/menu05.png" class="zh-cn">
                    <div class="cn">个人中心</div>
                    <img src="__PUBLIC__/Home/img/purple.png" class="purple">
                    <img src="__PUBLIC__/Home/img/gray.png" class="gray">
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/swiper.min.js"></script>
<script type="text/javascript">
    $(".swiper-container").height($(window).height()-213);
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        autoplay : 3000,
        pagination: '.swiper-pagination',
        paginationClickable :true
    });
    $(".footer-menu li").each(function(){
        if($(this).hasClass('active')){

        }else{
            $(this).hover(
                    function(){
                        $(this).find('.purple').stop().animate({'bottom':0,'left':0,'opacity':1},200,'swing');
                        $(this).find('.gray').stop().animate({'bottom':0,'left':'18px','opacity':1},200,'swing');
                        $(this).find('.zh-cn').css('display','none');
                        $(this).find('.cn').fadeIn();
                    },
                    function(){
                        _thiss=$(this);
                        $(this).find('.purple').stop().animate({'bottom':'-640px','left':'-200px','opacity':1},200,'swing');
                        $(this).find('.gray').animate({'bottom':'-164px','left':"200px",'opacity':0},200,'swing');
                        $(this).find('.zh-cn').fadeIn();
                        $(this).find('.cn').css('display','none');
                    }
            )
        }

    });
</script>
</body>
</html>