<include file="Public/header"/>
<!-- 首页轮播 -->
<div class="swiper-container" id="swiper1">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background:url(__PUBLIC__/Home/img/banner1.jpg) center center"></div>
        <div class="swiper-slide" style="background:url(__PUBLIC__/Home/img/banner1.jpg) center center"></div>
        <div class="swiper-slide" style="background:url(__PUBLIC__/Home/img/banner1.jpg) center center"></div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination" id="my-pagination"></div>
</div>
<include file="Public/footer"/>
<include file="Public/insert"/>