<include file="Public/header"/>
<div class="m-wrap">
    <div class="title01"></div>
    <div class="yinyan">大赛引言</div>
    <div class="yinyan-content">
        <div class="yinyan-wz">
            {$article.content}
        </div>
        <div class="yinyan-pic">
            <div class="swiper-container" id="swiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background:url(__PUBLIC__/Home/img/yinyanpic1.jpg) center center"></div>
                    <div class="swiper-slide" style="background:url(__PUBLIC__/Home/img/yinyanpic1.jpg) center center"></div>
                    <div class="swiper-slide" style="background:url(__PUBLIC__/Home/img/yinyanpic1.jpg) center center"></div>
                    <div class="swiper-slide" style="background:url(__PUBLIC__/Home/img/yinyanpic1.jpg) center center"></div>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination" id="my-pagination2"></div>
        </div>
    </div>
</div>

<include file="Public/newfooter"/>