<include file ="Public/header"/>
<include file ="Public/navibar"/>
<include file ="Public/sidebar"/>

<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->

<include file="Public/message"/>

<div class="cpgl_cplb">
    <table width="855" border="0" cellspacing="0" cellpadding="0" class="llgl_wdxx_nr">
        <tr>
            <td width="755" height="61"><p style="font-size:20px; color:#000">来源：Jason</p>
                <p>2016-06-27 14:40:10</p></td>
            <td width="80" class="llgl_wdxx_nr_hf"><a href="#">回复</a></td>
        </tr>
        <tr>
            <td colspan="2" valign="top">您的快件已由友客敦化路店菜鸟驿站代收，免费保管5天。免费保管5天。 取货码查询方式：物流详情页/短信/手机APP ... ...</td>
        </tr>
    </table>
    <table width="855" border="0" cellspacing="0" cellpadding="0" class="llgl_wdxx_nr">
        <tr>
            <td width="755" height="61"><p style="font-size:20px; color:#000">来源：Jason</p>
                <p>2016-06-27 14:40:10</p></td>
            <td width="80" class="llgl_wdxx_nr_hf"><a href="#">回复</a></td>
        </tr>
        <tr>
            <td colspan="2" valign="top">您的快件已由友客敦化路店菜鸟驿站代收，免费保管5天。免费保管5天。 取货码查询方式：物流详情页/短信/手机APP ... ...</td>
        </tr>
    </table>
    <table width="855" border="0" cellspacing="0" cellpadding="0" class="llgl_wdxx_nr">
        <tr>
            <td width="755" height="61"><p style="font-size:20px; color:#000">来源：Jason</p>
                <p>2016-06-27 14:40:10</p></td>
            <td width="80" class="llgl_wdxx_nr_hf"><a href="#">回复</a></td>
        </tr>
        <tr>
            <td colspan="2" valign="top">您的快件已由友客敦化路店菜鸟驿站代收，免费保管5天。免费保管5天。 取货码查询方式：物流详情页/短信/手机APP ... ...</td>
        </tr>
    </table>
    <table width="855" border="0" cellspacing="0" cellpadding="0" class="llgl_wdxx_nr">
        <tr>
            <td width="755" height="61"><p style="font-size:20px; color:#000">来源：Jason</p>
                <p>2016-06-27 14:40:10</p></td>
            <td width="80" class="llgl_wdxx_nr_hf"><a href="#">回复</a></td>
        </tr>
        <tr>
            <td colspan="2" valign="top">您的快件已由友客敦化路店菜鸟驿站代收，免费保管5天。免费保管5天。 取货码查询方式：物流详情页/短信/手机APP ... ...</td>
        </tr>
    </table>
    <table width="855" border="0" cellspacing="0" cellpadding="0" class="llgl_wdxx_nr">
        <tr>
            <td width="755" height="61"><p style="font-size:20px; color:#000">来源：Jason</p>
                <p>2016-06-27 14:40:10</p></td>
            <td width="80" class="llgl_wdxx_nr_hf"><a href="#">回复</a></td>
        </tr>
        <tr>
            <td colspan="2" valign="top">您的快件已由友客敦化路店菜鸟驿站代收，免费保管5天。免费保管5天。 取货码查询方式：物流详情页/短信/手机APP ... ...</td>
        </tr>
    </table>
    <div class="intro_cxcp_nr_fy">{$page_html}</div>
</div>
</div>
</div>

<!--- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 --->
<include file ="Public/footer"/>