
<include file ="Public/header"/>
<include file ="Public/navibar"/>
<include file ="Public/sidebar"/>

<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->

<include file="Public/message"/>


<div class="cpgl_cplb">
    <table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cplb_bt">
        <tr>
            <td width="138" height="60" align="center">id</td>
            <td width="132" align="center">分类名称</td>
            <td width="454" align="center">创建时间</td>
            <td width="131" align="center">操作</td>
        </tr>
    </table>
    <foreach name="categories" item="category">
    <table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cplb_nr">
        <tr>
            <td width="139" height="60" align="center">{$category.id}</td>
            <td width="130" align="center">{$category.category_name}</td>
            <td width="455" align="center">{$category.createtime|date="y-m-d H:i:s",###}</td>
            <td width="131" align="center"><a href="{:U('Product/category_edit',array('category_id'=>$category['id']))}"><img src="__PUBLIC__/Admin/images/cp_11.jpg" width="31" height="27" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a goto="{:U('Product/category_del',array('category_id'=>$category['id']))}" class="icon-remove"><img src="__PUBLIC__/Admin/images/cp_13.jpg" width="27" height="27" /></a></td>
        </tr>
    </table>
    </foreach>
    <div class="intro_cxcp_nr_fy">{$page_html}</div>
</div>
</div>
</div>

<!--- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 --->
<include file ="Public/footer"/>