
<include file ="Public/header"/>
<include file ="Public/navibar"/>
<include file ="Public/sidebar"/>

<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->

<include file="Public/message"/>
<div class="cpgl_cplb">
    <form action="" method="post">
        <table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cptj">
            <tr>
                <td height="80">名称</td>
                <td><input name="category_name" type="text" class="cpgl_cptj_mc" value="{$category.category_name}"></td>
            </tr>
            <tr>
                <td height="80" colspan="2"><div class="dsjj_nr_menu">
                    <input name="" type="submit" value="提交" required="true" />
                </div></td>
            </tr>
        </table>
    </form>
</div>
</div>
</div>
<!--- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 --->
<include file ="Public/footer"/>