
<include file ="Public/header"/>
<include file ="Public/navibar"/>
<include file ="Public/sidebar"/>

<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->

<include file="Public/message"/>



<table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cplb_bt">
    <tr>
        <td width="265" height="60" align="center">产品名称</td>
        <td width="151" align="center">产品类别</td>
        <td width="164" align="center">创建时间</td>
        <td width="136" align="center">产品排序</td>
        <td width="139" align="center">操作</td>
    </tr>
</table>
<foreach name="products" item="product">
<table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cplb_nr">
    <tr>
        <td width="265" height="48" align="center">{$product.title}</td>
        <td width="151" align="center">{$product.category_name}</td>
        <td width="164" align="center">{$product.createtime|date="y-m-d H:i:s",###}</td>
        <td width="136" align="center">{$product.sort}</td>
        <td width="139" align="center"><a href="{:U('Product/edit',array('id'=>$product['id']))}"><img src="__PUBLIC__/Admin/images/cp_11.jpg" width="27" height="27" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a goto="{:U('Product/del',array('id'=>$product['id']))}" class="icon-remove"><img src="__PUBLIC__/Admin/images/cp_13.jpg" width="27" height="27" /></a></td>
    </tr>
</table>
</foreach>
<div class="intro_cxcp_nr_fy">{$page_html}</div>
</div>
</div>
</div>

<!--- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 --->
<include file ="Public/footer"/>