@-webkit-keyframes menuAni{
    0%{
            opacity:0;
    }
    50%{
            -webkit-transform:translate(0,0);
             opacity:1;
    }
    100%{
                   -webkit-transform:translate(0,0);
             opacity:1;
    }
}
.zibg{
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
}
.huibg{
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
}
.p-list-wrap li:hover .zibg{
    bottom:0;
}
.p-list-wrap li:hover .huibg{
	top:0;
}